
@media only screen and (max-width: 1200px) {
    .offcanvas-size-30 {
        width: 100% !important;
    }
    .offcanvas-size-50 {
        width: 100% !important;
    }
    .offcanvas-size-85 {
        width: 100% !important;
    }
    .search-button-size{
        width: 100%;
    }
    .right-button{
        margin-bottom: 10px;
    }
}
