@media screen and (max-width: 1367px) {
    .trusted_sec ul li {
        width: 135px;
    }
}

@media screen and (max-width: 1199px) {
    .trusted_sec ul {
        padding: 0 50px;
    }

    .trusted_sec ul li {
        width: 120px;
    }
}

@media screen and (max-width: 1024px) {
    .banner {
        height: 750px;
    }

    .banner_text h1 {
        font-size: 40px;
    }

    .banner_text p {
        width: 65%;
        font-size: 15px;
    }
    .blog_detail h3{
        font-size: 30px;
    }
    .blog_info p {
        font-size: 15px;
    }
    .blog_list_info h3 {
        font-size: 30px;
    }
    .blog_list_info p{
        margin: 0 0 10px;
    }
    .blog_list_block{
        display: inline-block;
    }
    .blog_list_info{
        width: 96%;
    }
}

@media screen and (max-width: 1023px) {
    .blog_sec ul {
        display: inline-block;
    }

    .blog_sec ul li {
        margin: 0 0 30px;
    }

    .trusted_sec:after {
        display: none;
    }

    .testimonial_sec {
        padding: 100px 0 30px;
    }

    .footer_left {
        padding: 0;
        border-right: 0;
    }

    .footer_right {
        padding: 0;
        margin: 20px 0 0;
    }
}

@media screen and (max-width: 767px) {
    .header {
        background: #000;
    }

    .navbar-toggler {
        background: #ffffff;
    }

    .banner_text h1 {
        font-size: 26px;
        margin: 0 0 20px;
        line-height: 40px;
    }

    .banner_text p {
        font-size: 13px;
        line-height: 22px;
    }

    .blog_sec h4 {
        font-size: 25px;
    }

    .blog_sec p.subtitle {
        font-size: 13px;
    }

    .blog_sec {
        padding: 85px 45px 85px;
    }

    .join_sec {
        padding: 100px 50px;
    }

    .join_us_block h4 {
        font-size: 25px;
    }

    .join_us_block p {
        font-size: 13px;
    }

    .join_us_block .join_form input {
        font-size: 14px;
        padding: 10px;
    }

    .trusted_sec {
        padding: 0px 0 60px;
    }

    .trusted_sec ul {
        padding: 0;
    }

    .trusted_sec ul li p {
        font-size: 18px;
    }

    .footer_sec {
        padding: 40px 0;
    }

    .footer_right ul li .footer_info p {
        font-size: 14px;
    }

    .footer_left ul li a {
        font-size: 14px;
    }

    .testmonial_left h4 {
        font-size: 25px;
    }

    .testmonial_left p {
        font-size: 14px;
        margin: 0 0 20px;
    }

    .trusted_sec h4 {
        font-size: 25px;
    }

}

@media screen and (max-width: 567px) {
    .trusted_sec ul {
        padding: 0 50px;
    }

    .trusted_sec ul li {
        width: 100%;
        margin: 0 0 20px;
    }
    .blog_detail_block .blog_img {
        height: 250px;
    }
    .blog_list_info {
        width: 94%;
    }
    .blog_detail h3 {
        font-size: 25px;
        line-height: 40px;
    }
    .blog_detail{
        padding: 50px 40px 50px;
    }
    .blog_list_info h3{
        font-size: 25px;
        line-height: 35px;
    }
}

@media screen and (max-width: 431px) {
    .blog_list_info {
        width: 91%;
    }
    .blog_detail_block .blog_img {
        height: 190px;
    }
}

@media screen and (max-width: 390px) {
    .blog_list_info{
        padding: 0 30px;
        box-sizing: border-box;
    }
}

@media screen and (max-width: 360px) {
    .blog_list_info {
        width: 90%;
    }
}