/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

/*Reset CSS*/
html {
	scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kfeature-product-div,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
	border: 0;
	font: inherit;
	font-size: 100%;
	outline: 0;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
	display: block;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: none;
}

a {
	background: transparent;
	color: #000;
	outline: none;
	text-decoration: none;
	vertical-align: baseline;
	margin: 0;
	padding: 0;
}

a:focus,
a:hover {
	text-decoration: none;
	outline: 0;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted;
	cursor: help;
}

input,
select {
	vertical-align: middle;
	outline: none;
}

input:focus {
	border: none;
	outline: none;
	-webkit-appearance: none;
}

select::-ms-expand {
	display: none;
}

select:focus {
	outline: none;
	-webkit-appearance: none;
}

textarea {
	outline: none;
	-webkit-appearance: none;
}

html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled],
input[disabled] {
	cursor: default;
	font-family: "Krub", sans-serif;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="search"] {
	-moz-box-sizing: content-box;
	-webkit-appearance: textfield;
	-webkit-box-sizing: content-box;
	box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

input::-moz-focus-inner {
	padding: 0;
}

input[type="text"],
input[type="name"],
input[type="email"],
input[type="date"],
input[type="tel"] {
	outline: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-webkit-appearance: none;
}

input[type="text"]:focus,
input[type="name"]:focus,
input[type="email"]:focus,
input[type="date"]:focus,
input[type="tel"]:focus {
	outline: none;
}

textarea {
	overflow: auto;
	vertical-align: top;
	-webkit-appearance: none;
	font-family: "Krub", sans-serif;
}

textarea:focus {
	outline: none;
}

img {
	max-width: 100%;
	height: auto;
	width: auto\9;
	/* ie8 */
	border: none;
}

* {
	margin: 0px;
	padding: 0px;
}

nav ul {
	list-style: none;
}

ol,
ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

strong {
	font-weight: 700;
}

.nopad {
	padding-bottom: 0px !important;
}

em {
	font-style: italic;
}

div {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	font-size: 15px;
	font-weight: 400;
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
	-webkit-text-stroke-width: 0px;
	-moz-osx-font-smoothing: grayscale;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	font-family: "Krub", sans-serif;
}

input[type="text"] {
	font-family: "Krub", sans-serif;
}

input[type="submit"] {
	font-family: "Krub", sans-serif;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

.header {
	display: inline-block;
	width: 100%;
	padding: 0px 50px;
	box-sizing: border-box;
	background: rgba(0, 0, 0, 0.15);
}

.header .navbar {
	padding: 6px 0;
	box-sizing: border-box;
}

.header a {
	display: inline-block;
	width: auto;
}

.header a img {
	height: 50px;
}

.header .navbar-collapse {
	justify-content: end;
}

.header .navbar-collapse ul li {
	margin: 0 30px 0 0;
}

.header .navbar-collapse ul li:last-child {
	margin: 0;
}

.header .navbar-collapse ul li a.nav-link {
	display: inline-block;
	width: auto;
	color: #FFFFFF;
	padding: 0;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	text-transform: capitalize;
}

.header .navbar-collapse ul li a.nav-link.active {
	color: #FFD400;
}

.banner {
	background: url("../images/banner.svg") no-repeat center center;
	top: 0;
	width: 100%;
	height: 900px;
	z-index: -9;
	background-size: cover;
	margin: -80px 0 0;
	position: relative;
}

.banner:after {
	position: absolute;
	content: "";
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.30);
	top: 0;
	left: 0;
}

.banner_info {
	position: absolute;
	content: "";
	top: 25%;
	left: 0;
	z-index: 9;
	text-align: center;
	width: 100%;
}

.banner_logo a img {
	height: 130px;
}

.banner_text {
	display: inline-block;
	width: 100%;
	margin: 0 0 90px;
}

.banner_text h1 {
	font-size: 48px;
	line-height: 70px;
	font-family: "Kaisei Decol", serif;
	font-weight: 700;
	color: #FFFFFF;
}

.banner_text h1 {
	font-size: 48px;
	line-height: 70px;
	font-family: "Kaisei Decol", serif;
	font-weight: 700;
	color: #FFFFFF;
	margin: 0 0 25px;
}

.banner_text p {
	display: inline-block;
	text-align: center;
	width: 55%;
	font-size: 16px;
	line-height: 28px;
	font-family: "Raleway", serif;
	font-weight: 400;
	color: #FFFFFF;
	text-transform: capitalize;
}

.blog_sec {
	display: inline-block;
	width: 100%;
	background: #000000;
	padding: 120px 45px 200px;
	box-sizing: border-box;
	text-align: center;
	position: relative;
	z-index: 9;
}

.blog_sec:after {
	position: absolute;
	content: "";
	bottom: 0;
	right: 0;
	background: url("../images/blog-design.svg") no-repeat right center;
	width: 490px;
	height: 450px;
	z-index: -9;
}

.blog_sec h4 {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 35px;
	line-height: 51px;
	text-transform: capitalize;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	margin: 0 0 10px;
}

.blog_sec p.subtitle {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	text-transform: capitalize;
	font-family: "Raleway", serif;
	font-weight: 400;
	margin: 0 0 35px;
	position: relative;
}

.blog_sec p.subtitle:after {
	position: absolute;
	content: "";
	width: 30px;
	height: 2px;
	background: #ffffff;
	bottom: -15px;
	left: 50%;
	border-radius: 6px;
}

.blog_sec ul {
	display: flex;
	width: 100%;
}

.blog_sec ul li {
	box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
	-moz-box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.20) inset;
	margin: 0 30px 0 0;
	flex: 1;
}

.blog_sec ul li:last-child {
	margin: 0;
}

.blog_sec ul li .blog_block {
	display: inline-block;
	width: 100%;
	height: 292px;
	border: 4px solid #ffffff;
	border-radius: 15px;
	position: relative;
}

.blog_sec ul li .blog_block:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.4);
	border-radius: 15px;
}

/* .blog_sec ul li .blog_block.blog1 {
	background: url("../images/psychology-of-trader.webp") no-repeat center center;
	background-size: cover;
}

.blog_sec ul li .blog_block.blog2 {
	background: url("../images/trading-psychology.png") no-repeat center center;
	background-size: cover;
}

.blog_sec ul li .blog_block.blog3 {
	background: url("../images/astrology.png") no-repeat center center;
	background-size: cover;
} */
 .blog_block {
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}

.blog_sec ul li .blog_date {
	position: absolute;
	content: "";
	top: 25px;
	right: 4px;
	background: rgba(0, 0, 0, 0.5);
	border-bottom: 1px solid #FFD400;
	height: 23px;
	padding: 5px;
	box-sizing: border-box;
	z-index: 9;
}

.blog_sec ul li .blog_date p {
	width: 100%;
	color: #ffffff;
	font-size: 12px;
	line-height: 15px;
	font-family: "Raleway", serif;
	font-weight: 400;
	font-style: italic;
}

.blog_sec ul li .blog_info {
	position: absolute;
	content: "";
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	padding: 10px 15px;
	box-sizing: border-box;
	border-bottom-left-radius: 15px;
	border-bottom-right-radius: 15px;
	text-align: left;
	z-index: 9;
}

.blog_sec ul li .blog_info h5 {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 14px;
	line-height: 17px;
	font-family: "Raleway", serif;
	font-weight: 600;
	margin: 0 0 8px;
}

.blog_sec ul li .blog_info p {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 12px;
	line-height: 15px;
	font-family: "Raleway", serif;
	font-weight: 400;
}

.join_sec {
	display: inline-block;
	width: 100%;
	background: #000000;
	position: relative;
	padding: 160px 100px;
	box-sizing: border-box;
}

.join_sec:after {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url("../images/join-us-banner.svg") no-repeat center center;
	background-size: cover;
}

.join_left {
	display: flex;
	align-items: center;
	justify-content: center;
}

.join_img {
	display: inline-block;
	width: 100%;
	text-align: center;
	z-index: 9;
}

.join_form {
    display: inline-block;
    width: 100%;
    margin: 0 0 25px;
}

.join_us_block {
	display: inline-block;
	width: 100%;
	position: relative;
	z-index: 9;
}

.join_us_block h4 {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 35px;
	line-height: 51px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 5px;
}

.join_us_block p {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	font-family: "Krub", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 40px;
	position: relative;
}

.join_us_block p:after {
	position: absolute;
	content: "";
	width: 30px;
	height: 2px;
	background: #ffffff;
	bottom: -20px;
	left: 0;
	border-radius: 6px;
}

.join_us_block .join_form input
,.join_us_block .join_form select {
	display: inline-block;
	width: 100%;
	border-top: 1px solid transparent;
	border-left: 1px solid transparent;
	border-right: 1px solid transparent;
	border-bottom: 1px solid #FFFFFF;
	background: rgba(0, 0, 0, 0.30);
	border-radius: 2px;
	font-family: "Karla", serif;
	color: #AAAAAA;
	font-size: 20px;
	line-height: 24px;
	padding: 14px 10px;
    box-sizing: border-box;
	text-transform: capitalize;
}

.join_us_block .join_form select option {
	color: #ffffff;
}

.join_us_block .join_form input::placeholder,
.join_us_block .join_form select::placeholder {
	color: #AAAAAA;
	opacity: 1;
	/* Firefox */
}

.join_us_block .join_form input::-ms-input-placeholder,
.join_us_block .join_form select::-ms-input-placeholder {
	/* Edge 12 -18 */
	color: #AAAAAA;
}

.join_us_block .join_form .form-text{
	display: inline-block;
	width: 100%;
	font-size: 12px;
	color: #f00000;
	font-family: "Karla", serif;
}

.join_us_block .form_btn{
	display: inline-block;
	width: 100%;
}

.join_us_block .form_btn button{
	display: inline-block;
	color: #000000;
	font-size: 15px;
	line-height: 18px;
	font-family: "Raleway", serif;
	font-weight: 700;
	text-transform: capitalize;
	border-radius: 8px;
	box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
	-webkit-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 4px 4px 0px rgba(0,0,0,0.20);
	background: url("../images/sign-up-bg.svg") no-repeat center center;
	width: 140px;
	height: 48px;
	border: 1px solid transparent;
}

.testimonial_block {
	position: relative;
}

.testimonial_sec{
	display: inline-block;
	width: 100%;
	padding: 200px 0 30px;
	box-sizing: border-box;
	background: #000000;
}

.testimonial_block{
	display: flex;
	width: 100%;
}

.testimonial_block li .testi_left{
	display: flex;
	align-items: center;
}

.testmonial_left{
	display: inline-block;
	width: 100%;
	padding: 0 80px;
    box-sizing: border-box;
}

.testmonial_left h4{
	display: inline-block;
	width: 55%;
	color: #ffffff;
	font-size: 35px;
	line-height: 51px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 40px;
	position: relative;
}

.testmonial_left h4::after{
	position: absolute;
	content: "";
	width: 30px;
	height: 2px;
	background: #ffffff;
	bottom: -20px;
	left: 0;
	border-radius: 6px;
}

.testmonial_left p{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 24px;
	font-family: "Raleway", serif;
	font-weight: 400;
}

.testi_right{
	display: flex;
	justify-content: center;
}

.testimonial_right img{
	height: 335px;
	width: auto !important;
}

.testimonial_block .owl-nav .owl-prev span, .testimonial_block .owl-nav .owl-next span {
	font-size: 80px;
}

.testimonial_block .owl-nav .owl-prev {
	position: absolute;
    content: "";
    left: 0;
    top: 30%;
}

.testimonial_block .owl-nav .owl-next {
	position: absolute;
    content: "";
    right: 0;
    top: 30%;
}

.trusted_sec{
	display: inline-block;
	width: 100%;
	padding: 140px 0 60px;
	box-sizing: border-box;
	position: relative;
	background: #000000;
	text-align: center;
}

.trusted_sec:after{
	position: absolute;
	content: "";
	top:0;
	left: -15%;
	background: url("../images/blog-design.svg") no-repeat right center;
	width: 490px;
	height: 450px;
}

.trusted_sec h4{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 35px;
	line-height: 51px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 10px;
}

.trusted_sec p.subtitle{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 14px;
	line-height: 17px;
	font-family: "Raleway", serif;
	font-weight: 400;
	margin: 0 0 40px;
	position: relative;
}

.trusted_sec p.subtitle::after{
	position: absolute;
	content: "";
	width: 30px;
	height: 2px;
	background: #ffffff;
	bottom: -20px;
	left: 49%;
	border-radius: 6px;
}

.trusted_sec ul{
	display: inline-block;
    width: 100%;
    padding: 0 105px;
    box-sizing: border-box;
}

.trusted_sec ul li{
	display: inline-block;
	vertical-align: middle;
	background: rgba(255,255,255,0.10);
	border-radius: 7.5px;
	width: 140px;
	height: 70px;
	margin: 0 40px 30px 0;
}

.trusted_sec ul li p{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 26px;
	line-height: 38px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	padding: 12px;
    box-sizing: border-box;
}

.footer_sec {
	display: inline-block;
	width: 100%;
	padding: 90px 0px 70px;
	box-sizing: border-box;
	background: #151515;
}

.footer_left {
	display: inline-block;
	width: 100%;
	padding: 0 100px 0 80px;
	box-sizing: border-box;
	border-right: 2px solid #FFFFFF;
}

.footer_logo {
	display: inline-block;
	width: 100%;
}

.footer_logo a {
	display: inline-block;
	width: 100%;
}

.footer_logo a img {
	height: 125px;
}

.footer_left p {
	display: inline-block;
	width: 100%;
	padding: 0 0 0 40px;
	box-sizing: border-box;
	color: #ffffff;
	font-size: 14px;
	line-height: 24px;
	font-family: "Raleway", serif;
	font-weight: 600;
	margin: 0 0 6px;
}

.footer_left ul {
	display: inline-block;
	width: 100%;
}

.footer_left ul li {
	display: inline-block;
	width: 100%;
	margin: 0 0 10px;
}

.footer_left ul li img {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin: 0 12px 0 0;
}

.footer_left ul li a {
	display: inline-block;
	width: auto;
	vertical-align: middle;
	color: #ffffff;
	font-size: 16px;
	line-height: 19px;
	font-family: "Raleway", serif;
	font-weight: 400;
}

.footer_right {
	display: inline-block;
	width: 100%;
	padding: 0 0 0 100px;
	box-sizing: border-box;
}

.footer_right ul {
	display: inline-block;
	width: 100%;
}

.footer_right ul li {
	display: inline-block;
	width: 100%;
	margin: 0 0 40px;
}

.footer_right ul li .footer_right_img {
	display: inline-block;
	width: auto;
	vertical-align: top;
	margin: 0 8px 0 0;
}

.footer_right ul li .footer_info {
	display: inline-block;
	width: 60%;
	vertical-align: top;
}

.footer_right ul li .footer_info p {
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 19px;
	font-family: "Raleway", serif;
	font-weight: 400;
}

/*Blogs Page*/

.header.inner-header{
	display: inline-block;
	width: 100%;
	background: #141414;
}

.blog_detail{
	display: inline-block;
	width: 100%;
	background: #000000;
	padding: 50px 40px 100px;
	box-sizing: border-box;
}

.blog_detail h3{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 35px;
	line-height: 51px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 10px;
}

.blog_detail span{
	display: inline-block;
	width: 100%;
	color: #FFDADA;
	font-size: 16px;
	line-height: 24px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 12px;
}

.blog_detail_block{
	display: inline-block;
	width: 100%;
	/* border: 2px solid #898989;
	border-radius: 10px;
	padding: 12px 30px;
	box-sizing: border-box; */
	text-align: left;
}

.blog_detail_block .blog_img{
	display: inline-block;
	width: 100%;
	/* background: url("../images/psychology-of-trader.webp") no-repeat left center; */
	background-repeat: no-repeat;
   background-position: left center;
	height: 380px;
	background-size: contain;
	margin: 0 0 15px;
}

.blog_info{
	display: inline-block;
	width: 100%;
}

.blog_info p{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	font-family: "Krub", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 20px;
}

.blog_info p strong{
	font-weight: 700;
	margin: 0;
}

.blog_info ol{
	display: inline-block;
	width: 100%;
	padding: 0 0 0 20px;
    box-sizing: border-box;
}

.blog_info ol li{
	display: list-item;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	font-family: "Krub", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 5px;
	list-style: decimal;
}

.blog_list{
	display: inline-block;
	width: 100%;
	padding: 0 40px;
	box-sizing: border-box;
	background: #000000;
}

.blog_list_block{
	display: flex;
	width: 100%;
	/* border: 2px solid #898989; */
	border-radius: 10px;
	align-items: center;
	justify-content: space-between;
	position: relative;
	z-index: 9;
	margin: 0 0 30px;
	background: #232222;
}

.blog_list_img{
	display: inline-block;
	width: auto;
	vertical-align: middle;
	padding: 5px;
    box-sizing: border-box;
	position: relative;
}

.blog_list_img img{
	height: 185px;
	border-radius: 10px;
	vertical-align: middle;
}

.blog_list_img .blog_date {
    position: absolute;
    content: "";
    top: 25px;
    right: 5px;
    background: rgba(0, 0, 0, 0.5);
    border-bottom: 1px solid #FFD400;
    height: 23px;
    padding: 5px;
    box-sizing: border-box;
    z-index: 9;
}

.blog_list_img .blog_date p {
    width: 100%;
    color: #ffffff;
    font-size: 12px;
    line-height: 15px;
    font-family: "Raleway", serif;
    font-weight: 400;
    font-style: italic;
}

.blog_list_info{
	display: inline-block;
	width: 80%;
	vertical-align: middle;
    padding: 0 50px 0 30px;
    box-sizing: border-box;
}

.blog_list_info h3{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 35px;
	line-height: 51px;
	font-family: "Kaisei Decol", serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0 0 10px;
}

.blog_list_info p{
	display: inline-block;
	width: 100%;
	color: #ffffff;
	font-size: 16px;
	line-height: 21px;
	font-family: "Krub", sans-serif;
	font-weight: 400;
	text-transform: capitalize;
	margin: 0;
}

.blog_list_more{
	display: inline-block;
	width: auto;
	vertical-align: middle;
	margin: 0 10px 0 0;
}

.blog_list_more a{
	display: inline-block;
	width: 100%;
}

.blog_list_more:after{
	position: absolute;
	content: "";
	top:0;
	right: 0;
	width: 32px;
	height: 100%;
	background: #313131;
	padding: 0 8px;
	box-sizing: border-box;
	z-index: -9;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
}